.center{
    text-align: center;
}

.totale{
    width: 700px;
    margin: 0 auto;
}

.colorazione{
    color: red;
    border-left: 1px outset yellow;
    padding-left: 15px;
    border-width: 1px;

}


img{
    max-width: 100%;
    width: 200px;
}

#headtitle{
    background-color: yellow;
    height: 50px;
    color: rgb(0, 89, 255);
    border-top: 1px outset rgb(255, 204, 0);
    line-height: 50px;
}

.link{
    color: blueviolet;
}

#colorgrey{
    color: rgb(181, 181, 181);
}

.sottolineatura{
    border-bottom: 1px outset blue;
    padding-bottom: 15px;
    
}