/*font-family: 'Spectral', serif;
font-family: 'Roboto', sans-serif;*/
body{
    box-sizing: border-box;
}
/* NavBar */
.topBar{
    display: flex;
    padding: 30px;
    background-color: #ffc017;
    border-bottom: 1px solid black;
}
.topBar img{
    margin-left: 300px;
}
.menu{
    display: flex;
    flex-direction: row-reverse;
    flex-grow:1;
    margin-right: 300px;
}
.menu button{
    cursor: pointer;
    
}

/* Title page */
.stay{
    padding-top: 80px;
    padding-left: 300px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    background-color: #ffc017;
}
.stay p{
    margin-bottom: 30px;
    font-size: 24px;
}
h1{
    font-weight: bold;
    font-size: 7em;
    margin-bottom: 30px;
}

.start{
   margin-bottom: 80px;
}
/* Treding on Medium */

.treMed{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}
.blocchiContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;
}
.bloccoContainer{
    display: flex;
    width: 30%;
    margin-bottom: 10px;
}
.blocco{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.treding{
    padding-left: 300px;
    margin-bottom:10px ;
    font-size: 20px;
    align-items: center;
    display:flex ;
}
.number{
opacity: 0.5;
font-size: 30px;
}
.pg{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.loculo{
    border-radius: 100%;
    width: 25px;
}
.name{
 font-size: 12px;
 padding-left: 10px;
}
.title{
font-size: 16px;
font-weight: bold;
margin-bottom: 10px;
}
.date{
font-size: 12px;
color: grey;
}
