body{
    background-color: rgb(107, 126, 168);
}

/* FORM */
.container{
    text-align: center;
}
.inserimento{
    margin-bottom: 8px;
}
input{
    padding: 10px 30px;
    border: 3px solid black;
}

/* BUTTON */
.button button{
    border-radius: 15px;
    padding: 6px;
    width: 100px;
    font-size: 20px;
    box-shadow: 5px;
    background-color: white;
    cursor: pointer;
}
.save{
    color: rgb(0, 171, 0);
} 
.save:hover{
    transform: scale(1.3);
} 
.delete{
    color: red;
}
.delete:hover{
    transform: scale(1.3);
}