// CARD PAGINA REGISTER
.cardReg {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: grey;
}

// FORM CONTAINER
.containerReg {
  font-family: 'Minecraft', sans-serif;
  width: 500px;
  height: 420px;
  background-color: rgb(83, 83, 255);
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

// CONTENITORE DEGLI INPUT
.inputReg {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
}

// CONTENITORE BOTTONE E IMMAGINE
.registerBut {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.butReg {
  font-family: 'Minecraft', sans-serif;
  margin-top: 50px;
  background-color: yellow;
  width: 150px;
  height: 40px;
  font-size: 20px;
}

img {
  width: 130px;
}

img:hover {
  transform: translateX(200px);
}