<div class="cardReg">
  <form class="containerReg">

    <div class="inputReg">
      <input class="form-control" type="email" placeholder="Inserisci la tua email" name="email"
        [(ngModel)]="data.email">

      <input class="form-control" type="password" placeholder="Inserisci la tua password" name="password"
        [(ngModel)]="data.password">

      <input class="form-control" type="text" placeholder="Il tuo Nome" name="name" [(ngModel)]="data.name">

      <input class="form-control" type="text" placeholder="Il tuo Cognome" name="surname" [(ngModel)]="data.surname">
    </div>

    <input type="checkbox" [(ngModel)]="data.client" name="client">
    <span>sei un cliente?</span>
    <div class="registerBut">
      <img (mouseenter)="playAudio()" src="../../../../assets/sonic-removebg-preview.png" alt="img Sonic">
      <button class="butReg" (click)="mari()">Registrati</button>

    </div>
  </form>
</div>