.editAll {
  height: 100vh;
  background-color: rgb(59, 10, 59);
}

input {
  background-color: rgb(59, 10, 59);
  color: white;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 0 0 10px white;
}

.card {
  width: 500px;
  height: 700px;
}