/* Your styles here */
body{
    font-family: 'Open Sans', sans-serif;
    }
    /* Body */
    body{
        font-size: 1.2rem;
        color: #393d41;
        line-height: 30px;
        word-wrap: break-word;
        line-height: 1.65;
    }

    /* LOGO */
    header{
        background-color: black;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
    }
    
    header img{
        width: 20%;
    }
    
    /* MAIN PRIMO BLOCCO */
    .partiamo{
       background-image: url(../images/banner.jpg); 
       padding-top: 200px;
       padding-bottom: 200px;
       text-align: center;
    }
    
    .partiamo p{
        margin-bottom: 50px;
        font-size: 18px;
    }
    
    h1{
        font-size: 35px;
        margin-bottom: 50px;
        color: rgb(0, 126, 216);
        line-height: 1;
    }
    
    button{
        font-family: 'Montserrat', sans-serif;
        background-color: #f04c2f;
        color: white;
        border-radius: 5%;
        width: 150px;
        height: 50px;
        
    }
    
    /* SECTION */
    
    #textright{
        margin-top: 170px;
        margin-right: 200px;
    }

    h3{
        font-size: 18px;
        color: rgb(0, 126, 216);
        
        line-height: 1;
     
    }
    
    p{
        font-size: 18px;
        margin-bottom: 35px;
    }
    
    /* FOTOROTONDA */
    
    .fototonda{
        border-radius: 100%;
        margin-bottom: 100px;
        margin-top: 100px;
        margin-left: 100px;
    }
    section{
        display: flex;
        justify-content: space-evenly;
    }
    /* RIQUADRO ROSSO TESTIMONIANZE */
    
    .riquadronotizie{
        background-color:#e22d0e;
        color: white;
        text-align: center;
        padding: 20px;
        margin-bottom: 50px;
    }
    .riquadronotizie h2{
        font-size: 30px;
        margin-bottom: 20px;
        padding-top: 25px;
    }
    .messaggio{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .titolaremex{
        font-size: 18px;
        margin-bottom: 1px;
    }
    .azienda{
        font-size:11px;
    }
    
    /* BOX FOTO + TESTO */
    
    .boxbordi{
        width: 100%;
        height: 400px;
        
    }
    .trisimmagine{
        border: 2px solid #dee1e3;
        width: 500px;
        margin-bottom: 50px;
    }

    aside{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
    
    }
    
    /* FOOTER CONTATTI */
    
    footer{
        background-color: #25a2c3;
        color: white;
        font-size: 13px;
        padding: 20px;
        text-align: center;
    }
    
    footer a{
        color: #c8e7f0;
    }
    footer p{
        font-size: 10px;
    }
    
    h2{
        font-size: 25px;
        margin-bottom: 15px;
        line-height: 1;
        margin-top: 50px;
    }