<h2 class="text-success my-3">Second Component!</h2>
<div class="container">
    <div class="row">
        <div class="card text-start col-4">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h4 class="card-title">CARD 1</h4>
                <p class="card-text">Body</p>
            </div>
        </div>

        <div class="card text-start col-4">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h4 class="card-title">CARD 2</h4>
                <p class="card-text">Body</p>
            </div>
        </div>

        <div class="card text-start col-4">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h4 class="card-title">CARD 3</h4>
                <p class="card-text">Body</p>
            </div>
        </div>

    </div>
</div>