/* IMPOSTAZIONI GENERALI */
#titolo{
    color: black;
    font-size: 1.5rem;
}

/* HEADER */
.quadrato{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(8, 116, 155);
}

#font{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
}

img{
    padding: 15px;
}
.menu{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

#q3{
    content: ⇒;
}
/* MAIN */
#fucsia{
    color: rgb(214, 43, 226);
}
.main{
    background-color: rgb(255, 255, 255);
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
