<div class="tot">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h1 class="d-inline my-4" *ngIf="user.client == true">Benvenuto {{user.name}} {{user.surname}}</h1>
        <h1 class="d-inline my-4" *ngIf="user.client == false">Bentornato Admin</h1>
        <button (click)="logout()" class="btn btn-danger w-25 d-inline mx-3 my-3">Logout</button>
        <button [routerLink]="['add']" *ngIf="user.client !== true"
          class="btn btn-success w-25 d-inline mx-3 my-3">Aggiungi</button>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let shoe of shoes" class="col-4 p-2 ">
        <div class="card p-2 ">
          <img src="{{shoe.image}}" alt="">
          <p>Title : {{shoe.title}}</p>
          <p>Price : {{shoe.prezzo}} €</p>
          <p>Description : {{shoe.description}}</p>

          <div class="buttHome d-flex justify-content-center align-items-end">
            <button class="btn btn-primary" [routerLink]="['/home','edit',shoe.id]"
              *ngIf="user.client !== true">modifica</button>
            <button class="btn btn-danger" (click)="delete(shoe.id)" *ngIf="user.client !== true">Cancella</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let shoe of shoes">
      <div class="card">
        <div class="card-body">
          <img class="card-img" src="{{shoes.urlPhoto}}" alt="Card image cap">
          <h5 class="card-title">{{shoes.title}}</h5>
          <p class="card-text">{{shoes.description}}</p>
          <p class="card-price">{{shoes.prezzo}}€</p>
          <button [routerLink]="['singleAccomodation',shoes.id]">Guarda</button>
          <button [routerLink]="['edit',shoes.id]">Modifica</button>
          <button (click)="delete(shoes.id)">Cancella</button>
        </div>
      </div>
    </div>
  </div>
</div> -->