<h3 class="text-primary my-3">Third Component!</h3>
<div>
    <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, molestiae repellendus quos
        dolores qui temporibus
        quibusdam totam. Voluptas quisquam accusantium aut, ea necessitatibus, magnam, explicabo aliquid consectetur
        molestiae quas praesentium!</p>
    <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, molestiae repellendus quos
        dolores qui temporibus
        quibusdam totam. Voluptas quisquam accusantium aut, ea necessitatibus, magnam, explicabo aliquid consectetur
        molestiae quas praesentium!</p>
    <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, molestiae repellendus quos
        dolores qui temporibus
        quibusdam totam. Voluptas quisquam accusantium aut, ea necessitatibus, magnam, explicabo aliquid consectetur
        molestiae quas praesentium!</p>
</div>