/* background pagine */

.scatola{
margin: 10%;

}


.container {
  
  font-family: "Inter", sans-serif;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  
  
}

.welcome {
  margin-left: 100px;
}

#logo {
  width: 180px;
  height: 50px;
  padding-left: 100px;
  margin-bottom: 80px;
  margin-top: 60px;
}

.title {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  margin-bottom: 50px;
}

h3 {
  color: #d20094;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bolder;
}

p {
  line-height: 20px;
  margin-bottom: 50px;
}

ul {
  margin-left: 20px;
  margin-bottom: 80px;
  line-height: 25px;
}

span {
  font-weight: bolder;
}
.pcheck {
  margin-left: 15px;
  margin-top: 25px;
}
.pbox{
  border: 2px solid white;
  height: 20px;
  margin-top: 25px;
}

.button button {
  margin-left: 180px;
  padding: 20px 60px;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #00ffff;
  box-shadow: 0 0 25px #00ffff;
  margin-bottom: 100px;
}

.button :hover {
  box-shadow: 0 0 50px #00ffff;
}

.fwd {
  display: flex;
}

.benchmark {
  display: none;
}

.counter {
  text-align: center;
  
}

